@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&family=Roboto+Slab:wght@400;700&display=swap');
html{
    font-size: 62.5%;
 
}
body {
    padding: 24px 124px; 
    font-family: Roboto Slab;
    min-width: 1280px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
header img {
    max-width: 112px;
    max-height: 64px;
}

.icon {
    margin-top: 100px;
    max-width: 508px;
    display: flex;
    justify-content: space-between;
}

.icon__element img {
    width: 20px;
    height: 20px;
    padding-right: 8px;

}

.icon__element p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.icon__element {
    display: flex;
    justify-content: space-between;
}

.first__article img {
    max-width: 304px;
    max-height: 376px;
    padding-left: 144px;
    margin: auto 0;


}

.first__article__element {
    max-width: 628px;
}

.first__article__element h1 {
    font-size: 8rem;
    line-height: 8.4rem;
}

.first__article__element p {
    font-size: 2rem;
    line-height: 3rem;
}

.first__article {

    max-width: 1072px;
}

.second__article {
    margin: auto;
    position: relative;
    max-width: 448px;
    background-color: #1E4681;
    color: white;
    padding: 24px 20px 68px 24px;
    margin-top: 68px;


}

.second__article__fp {
    font-size: 2.4rem;

}

.second__article__sp {
    font-size: 2rem;
    
    text-align: right;

}

.third__article img {
    max-width: 320px;
    max-height: 320px;
    margin: auto 0;
    padding-left: 188px;
}

.third__article {
    max-width: 1192px;
    margin-top: 172px;
}

.third__article__element p {
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.third__article__element h1 {
    font-size: 5.6rem;
    line-height: 5.6rem;
}

.first__article,
.third__article {

    display: flex;
    justify-content: space-between;
}

.third__article__element{
    min-width: 664px;
    
   
}
.fourth__article {
    display: flex;
    max-width: 1000px;

}

.fourth__article__element {
    min-width: 250px;
    max-width: 256px;
    
}

.fourth__article__element h1 {
    font-size: 2.4rem;
    margin-top: 164px;
    margin: 164px 96px 0 0;
    line-height: 3.2rem;

}
.fourth__article__element p {
    font-size: 1.6rem;
    margin: 0 96px 0 0;
    line-height: 2.4rem;
}
.fourth__article img {
    max-width: 232px;
    padding-top: 92px;
    padding-right: 132px;
}

@media (max-width:376px) {
body{
    display: flex;
    flex-wrap: wrap;
}
.first__article,.third__article,.fourth__article{
    display: flex;
    flex-wrap: wrap;
}
.fourth__article{
    max-width: 600px;
}
.fourth__article img{
    display: none;
}
}