@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');

body{
    max-width: 1440px;
}

header {

    width: 905px;
    height: 93px;
    margin-left: 80px;
   
    margin-bottom: 95px;
    

    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1272;
    margin-left: 32px;
    margin-right: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container-item {
    max-width: 399px; 
    max-height: 328px;
    margin-right: 24px;
    margin-bottom: 45px;
   

    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.container-item-1 {
    position: relative;
    max-width: 399px; 
    height: 160px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.bakground-container-1 {
    background-color: #f8cb90;
}
.bakground-container-2 {
    background-color: #9da7d8;
}

.bakground-container-3 {
    background-color: #b981a9;
}

.bakground-container-4 {
    background-color: #b6d9df;
}

.bakground-container-5 {
    background-color: #d1bf8d;
}
.bakground-container-6 {
    background-color: #4066b9;
}
.bakground-container-7 {
    background-color: #9da7d8;
}

.bakground-container-8{
    background-color: #67cf75;
}

.container-item-2 { 
    max-width: 399px;
    height: 160px;
    border-radius: 0 0 20px 20px;
}

.paragrapg-1 {
    margin-top: 0;
    margin-right: 14px;
    margin-left: 20px;
    margin-bottom: 32px;
    max-height: 71px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.paragrapg-2 {
    width: 365px;
    height: 63px;
    margin-right: 14px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 103px;
    color: #000000;
}

.paragrapg-1-1 {
    margin-right: 14px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    width: 365px;
    max-height: 71px;
    min-height: 39px;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #000000;
}

.paragrapg-2-1 {

    width: 365px;
    height: 63px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    margin-right: 14px;
    margin-left: 20px;
    margin-top: 12px;
    color: #000000;
}

@media screen and (min-width: 992px) and (max-width: 1279px){ 
 
        body{
            max-width: 1279px;
        }
    header {
    
        max-width: 524px; 
        height: 53px;
        margin-left: 70px;
        margin-right: 238px;
        margin-bottom: 55px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }
    
    .container {

        align-items: center;
        display: flex;
        flex-wrap: wrap;
        max-width: 759px;
        margin-left: 48px;
        margin-right: 48px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }
    
    .container-item {
        max-width: 231px; 
        height: 190px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-right: 21px;
    
    }
    
    .container-item-1 {
        position: relative;
        max-width: 230px; 
        height: 92px;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
    
    img{
        max-width: 55px;
        max-height: 65px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    .bakground-container-1 {
        background-color: #f8cb90;
    }
    .bakground-container-2 {
        background-color: #9da7d8;
    }
    
    .bakground-container-3 {
        background-color: #b981a9;
    }
    
    .bakground-container-4 {
        background-color: #b6d9df;
    }
    
    .bakground-container-5 {
        background-color: #d1bf8d;
    }
    .bakground-container-6 {
        background-color: #4066b9;
    }
    .bakground-container-7 {
        background-color: #9da7d8;
    }
    
    .bakground-container-8{
        background-color: #67cf75;
    }
       
    .container-item-2 { 
        max-width: 230px;
        height: 96px;
        border-radius: 0 0 10px 10px;
    }
    
    .paragrapg-1 {
        max-width: 210px;
        height: 22px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
    }
    
    .paragrapg-2 {
        max-width: 210px;
        height: 36px;
        margin-left: 10px;
        margin-top: 18px;
        margin-bottom: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    
    .paragrapg-1-1 {
        max-width: 210px;
        height: 22px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
    }
    
    .paragrapg-2-1 {
        max-width: 210px;
        height: 36px;
        margin-left: 10px;
        margin-top: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}


@media screen and (min-width: 320px) and (max-width: 991px){ 
 
    header {
   
        max-width: 300px; 
        height: 43px;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 36px;
        font-weight: 700;
        font-size: 26px;
        line-height: 26px;
    
    }
    
    .container {
        max-width: 187px;
        margin-left: 92px;
        margin-right: 92px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }
    
    .container-item {
        max-width: 184px; 
        height: 152px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    
    }
    
    .container-item-1 {
        position: relative;
        max-width: 184px; 
        height: 76px;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
    
    img{
        max-width: 45px;
        max-height: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    .bakground-container-1 {
        background-color: #f8cb90;
    }
    .bakground-container-2 {
        background-color: #9da7d8;
    }
    
    .bakground-container-3 {
        background-color: #b981a9;
    }
    
    .bakground-container-4 {
        background-color: #b6d9df;
    }
    
    .bakground-container-5 {
        background-color: #d1bf8d;
    }
    .bakground-container-6 {
        background-color: #4066b9;
    }
    .bakground-container-7 {
        background-color: #9da7d8;
    }
    
    .bakground-container-8{
        background-color: #67cf75;
    }
    
    
    
    .container-item-2 { 
        max-width: 184px;
        height: 152px;
        border-radius: 0 0 10px 10px;
    }
    
    .paragrapg-1 {
        max-width: 160px;
        height: 35px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    
    .paragrapg-2 {
        max-width: 160px;
        height: 30px;
        margin-left: 10px;
        margin-top: 0;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
    }
    
    .paragrapg-1-1 {
        max-width: 160px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    
    .paragrapg-2-1 {
        max-width: 160px;
        height: 30px;
        margin-left: 10px;
        margin-top: 0;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
    }

