<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&family=Roboto+Slab:wght@400;700&display=swap');
html{
    font-size: 62.5%;
 
}
body {
    padding: 24px 124px; 
    font-family: Roboto Slab;
    min-width: 1280px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
header img {
    max-width: 112px;
    max-height: 64px;
}

.icon {
    margin-top: 100px;
    max-width: 508px;
    display: flex;
    justify-content: space-between;
}

.icon__element img {
    width: 20px;
    height: 20px;
    padding-right: 8px;

}

.icon__element p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.icon__element {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.first__article img {
    max-width: 304px;
    max-height: 376px;
    padding-left: 144px;
    margin: auto 0;


}

.first__article__element {
    max-width: 628px;
}

.first__article__element h1 {
    font-size: 8rem;
    line-height: 8.4rem;
}

.first__article__element p {
    font-size: 2rem;
    line-height: 3rem;
}

.first__article {

    max-width: 1072px;
}

.second__article {
    margin-left: 280px;
    position: relative;
    max-width: 448px;
    background-color: #1E4681;
    color: white;
    padding: 24px 20px 68px 24px;
    margin-top: 68px;


}

.second__article__fp {
    font-size: 2.4rem;

}

.second__article__sp {
    font-size: 2rem;
    
    text-align: right;

}

.third__article img {
    max-width: 320px;
    max-height: 320px;
    margin: auto 0;
    padding-left: 188px;
}

.third__article {
    max-width: 1192px;
    margin-top: 172px;
}

.third__article__element p {
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.third__article__element h1 {
    font-size: 5.6rem;
    line-height: 5.6rem;
}

.first__article,
.third__article {

    display: flex;
    justify-content: space-between;
}

.third__article__element{
    min-width: 664px;
    
   
}
.fourth__article {
    display: flex;
    max-width: 1000px;

}

.fourth__article__element {
    min-width: 250px;
    max-width: 256px;
    
}

.fourth__article__element h1 {
    font-size: 2.4rem;
    margin-top: 164px;
    margin: 164px 96px 0 0;
    line-height: 3.2rem;

}
.fourth__article__element p {
    font-size: 1.6rem;
    margin: 0 96px 0 0;
    line-height: 2.4rem;
}
.fourth__article img {
    max-width: 232px;
    padding-top: 92px;
    padding-right: 132px;
}

@media (max-width:376px) {
body{
    display: flex;
    flex-wrap: wrap;
}
.first__article,.third__article,.fourth__article{
    display: flex;
    flex-wrap: wrap;
}
.fourth__article{
    max-width: 600px;
}
.fourth__article img{
    display: none;
}

}
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');

body{
    max-width: 1440px;
}

header {

    width: 905px;
    height: 93px;
    margin-left: 80px;
   
    margin-bottom: 95px;
    

    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    color: #000000;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1272;
    margin-left: 32px;
    margin-right: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container-item {
    max-width: 399px; 
    max-height: 328px;
    margin-right: 24px;
    margin-bottom: 45px;
   

    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.container-item-1 {
    position: relative;
    max-width: 399px; 
    height: 160px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.bakground-container-1 {
    background-color: #f8cb90;
}
.bakground-container-2 {
    background-color: #9da7d8;
}

.bakground-container-3 {
    background-color: #b981a9;
}

.bakground-container-4 {
    background-color: #b6d9df;
}

.bakground-container-5 {
    background-color: #d1bf8d;
}
.bakground-container-6 {
    background-color: #4066b9;
}
.bakground-container-7 {
    background-color: #9da7d8;
}

.bakground-container-8{
    background-color: #67cf75;
}

.container-item-2 { 
    max-width: 399px;
    height: 160px;
    border-radius: 0 0 20px 20px;
}

.paragrapg-1 {
    margin-top: 0;
    margin-right: 14px;
    margin-left: 20px;
    margin-bottom: 32px;
    max-height: 71px;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}

.paragrapg-2 {
    width: 365px;
    height: 63px;
    margin-right: 14px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 103px;
    color: #000000;
}

.paragrapg-1-1 {
    margin-right: 14px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    width: 365px;
    max-height: 71px;
    min-height: 39px;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #000000;
}

.paragrapg-2-1 {

    width: 365px;
    height: 63px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    margin-right: 14px;
    margin-left: 20px;
    margin-top: 12px;
    color: #000000;
}

@media screen and (min-width: 992px) and (max-width: 1279px){ 
 
        body{
            max-width: 1279px;
        }
    header {
    
        max-width: 524px; 
        height: 53px;
        margin-left: 70px;
        margin-right: 238px;
        margin-bottom: 55px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }
    
    .container {

        align-items: center;
        display: flex;
        flex-wrap: wrap;
        max-width: 759px;
        margin-left: 48px;
        margin-right: 48px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }
    
    .container-item {
        max-width: 231px; 
        height: 190px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-right: 21px;
    
    }
    
    .container-item-1 {
        position: relative;
        max-width: 230px; 
        height: 92px;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
    
    img{
        max-width: 55px;
        max-height: 65px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    .bakground-container-1 {
        background-color: #f8cb90;
    }
    .bakground-container-2 {
        background-color: #9da7d8;
    }
    
    .bakground-container-3 {
        background-color: #b981a9;
    }
    
    .bakground-container-4 {
        background-color: #b6d9df;
    }
    
    .bakground-container-5 {
        background-color: #d1bf8d;
    }
    .bakground-container-6 {
        background-color: #4066b9;
    }
    .bakground-container-7 {
        background-color: #9da7d8;
    }
    
    .bakground-container-8{
        background-color: #67cf75;
    }
       
    .container-item-2 { 
        max-width: 230px;
        height: 96px;
        border-radius: 0 0 10px 10px;
    }
    
    .paragrapg-1 {
        max-width: 210px;
        height: 22px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
    }
    
    .paragrapg-2 {
        max-width: 210px;
        height: 36px;
        margin-left: 10px;
        margin-top: 18px;
        margin-bottom: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    
    .paragrapg-1-1 {
        max-width: 210px;
        height: 22px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
    }
    
    .paragrapg-2-1 {
        max-width: 210px;
        height: 36px;
        margin-left: 10px;
        margin-top: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}


@media screen and (min-width: 320px) and (max-width: 991px){ 
 
    header {
   
        max-width: 300px; 
        height: 43px;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 36px;
        font-weight: 700;
        font-size: 26px;
        line-height: 26px;
    
    }
    
    .container {
        max-width: 187px;
        margin-left: 92px;
        margin-right: 92px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
    }
    
    .container-item {
        max-width: 184px; 
        height: 152px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    
    }
    
    .container-item-1 {
        position: relative;
        max-width: 184px; 
        height: 76px;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
    
    img{
        max-width: 45px;
        max-height: 55px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    
    .bakground-container-1 {
        background-color: #f8cb90;
    }
    .bakground-container-2 {
        background-color: #9da7d8;
    }
    
    .bakground-container-3 {
        background-color: #b981a9;
    }
    
    .bakground-container-4 {
        background-color: #b6d9df;
    }
    
    .bakground-container-5 {
        background-color: #d1bf8d;
    }
    .bakground-container-6 {
        background-color: #4066b9;
    }
    .bakground-container-7 {
        background-color: #9da7d8;
    }
    
    .bakground-container-8{
        background-color: #67cf75;
    }
    
    
    
    .container-item-2 { 
        max-width: 184px;
        height: 152px;
        border-radius: 0 0 10px 10px;
    }
    
    .paragrapg-1 {
        max-width: 160px;
        height: 35px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    
    .paragrapg-2 {
        max-width: 160px;
        height: 30px;
        margin-left: 10px;
        margin-top: 0;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
    }
    
    .paragrapg-1-1 {
        max-width: 160px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    
    .paragrapg-2-1 {
        max-width: 160px;
        height: 30px;
        margin-left: 10px;
        margin-top: 0;
        font-weight: 400;
        font-size: 11px;
        line-height: 12px;
    }

>>>>>>> 5236317051ace30a67b0bf03d4e08f526ccc5a96
